﻿@model dynamic

@{
    ViewBag.Title = "SelectUser";

}

<h2>Select User</h2>
<p>User: </p>
@using (Html.BeginForm("Index", "Tracker", FormMethod.Post))
{
    @Html.DropDownList("userId", null, string.Empty, new {@onChange = "form.submit();"})
}

@Html.ActionLink("Create New User", "NewUser", "Users")
