﻿@model dynamic

@{
    ViewBag.Title = "New User";
}

<h2>New User</h2>
<p>Username:</p>
@using (Html.BeginForm("Add", "Users", FormMethod.Post))
{
    <input type="text" id="username" name="username" value="@ViewBag.Username"/>
    <p>Goal:</p>
    <input type="text" id="goal" name="goal" value="@ViewBag.Goal"/>
    <input type="hidden" name="userId" value="@ViewBag.UserId"/>
    <input type="submit" value="Add User"/>
}