﻿@model dynamic

@{
    ViewBag.Title = "Tracker";
}

<h2>Tracker</h2>
<p>User:@Html.ActionLink((string)ViewBag.Username, "Edit", "Users", new {userId = ViewBag.UserId}, null)</p>
@using (Html.BeginForm("Index", "Tracker", FormMethod.Post))
{
    <p>Amount: </p>
    <input type="text" name="amount"/>
    <input type="submit" name="Enter"/>
    <input type="hidden" name="userId" value="@ViewBag.UserId" />

}

<p>Total: @ViewBag.Total</p>
<p>Goal: @ViewBag.Goal</p>
